Source: carma-debug-ros2-msgs
Maintainer: Cody Garver <garverd@leidos.com>
Build-Depends: cmake (>= 3.5), debhelper (>= 11), ros-foxy-ros-environment, carma-cmake-common, ros-foxy-ament-cmake, ros-foxy-rosidl-default-generators, carma-planning-msgs
Standards-Version: 4.5.0
Homepage: https://github.com/usdot-fhwa-stol

Package: carma-debug-ros2-msgs
Depends: ros-foxy-geometry-msgs, ros-message-generation, ros-foxy-std-msgs, carma-planning-msgs
Architecture: any
Description: CARMA debug ROS2 msgs
