Source: carma-v2x-j2735-msgs
Maintainer: Cody Garver <garverd@leidos.com>
Build-Depends: cmake (>= 3.5), debhelper (>= 11), ros-foxy-ros-environment, carma-cmake-common
Standards-Version: 4.5.0
Homepage: https://github.com/usdot-fhwa-stol

Package: carma-v2x-j2735-msgs
Depends: ros-foxy-geometry-msgs, ros-message-generation, ros-foxy-std-msgs, ros-foxy-std-msgs
Architecture: any
Description: CARMA V2X j2735 msgs
