Source: carma-msgs
Maintainer: Cody Garver <garverd@leidos.com>
Build-Depends: cmake (>= 3.5), debhelper (>= 11), ros-foxy-ros-environment, carma-cmake-common
Standards-Version: 4.5.0
Homepage: https://github.com/usdot-fhwa-stol

Package: carma-msgs
Depends: ros-foxy-ros-environment
Architecture: any
Description: CARMA msgs
