Source: carma-cav-srvs
Maintainer: Cody Garver <garverd@leidos.com>
Build-Depends: cmake (>= 3.5), debhelper (>= 11), carma-cmake-common
Standards-Version: 4.5.0
Homepage: https://github.com/usdot-fhwa-stol

Package: carma-cav-srvs
Depends: ros-noetic-ros-environment
Architecture: any
Description: CARMA msgs
